@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

body {
    overflow: hidden;
}
.Support-Bubble{
    position: absolute;
    width: 50%;
    height: 110%;
    right: 40%;
    top:-10%;
    z-index: -1;
}
.Support-Person{
    position: absolute;
    width: 40%;
    height: 80%;
    right: 45%;
    top: 30%;
}

.text-container {
    position: relative;
}

.support-text {
    position: fixed;
    top: 13vh;
    left: 62vh;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Istok Web', sans-serif;
    text-align: center;
    width: 40%;
}


.contact-text {
    position: absolute;
    bottom: -20vh;
    left: 37vh;
    overflow-wrap: break-word;
    font-family: 'Istok Web', sans-serif;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 800%;
}
.contact-text2 {
    position: absolute;
    bottom: -23vh;
    left: 40.5vh;
    color: white;
    font-family: 'Istok Web', sans-serif;
    overflow-wrap: break-word;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 850%;
}
.contact-info-email{
    position: absolute;
    bottom: -97vh;
    left: 40vh;
    color: white;
    font-family: 'Istok Web', sans-serif;
    overflow-wrap: break-word;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 580%;
}
.contact-info-location{
    position: absolute;
    bottom: -97.6vh;
    left: 70vh;
    color: white;
    font-family: 'Istok Web', sans-serif;
    overflow-wrap: break-word;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 480%;
}
.contact-form {
    position: absolute;
    bottom: 25vh;
    right: 15vh;
    font-family: 'Istok Web', sans-serif;
    width: 30%;
}

.form-group {
    margin-bottom: 2vh;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 1vh;
    border: 0.1vh solid #ccc;
    border-radius: 1vh;
    box-sizing: border-box;
}

textarea {
    height: 15vh;
}

button {
    background-color: #12385d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.Help-Button{
    background-color: #12385d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    right: 58.5vh;
    bottom: 15vh;
}

button:hover {
    background-color: #0d0b1b;
}

@media screen and (min-width: 768px) {
.body{
    overflow: auto;
}
    .text-container {

        left: 20%;
    }


}