@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

body {
    overflow: hidden;
}
.Support-Bubble{
    position: absolute;
    width: 50%;
    height: 99%;
    top:1%;
    z-index: -1;
}
.Location-Icon {
    position: fixed;
    width: 2vh;
    height: auto;
    top: 50%;
    left: 42%;
    transform: translateY(-50%);
}
.email-Icon {
    position: absolute;
    width: 2vh;
    height: auto;
    bottom: 5.5vh;
    left: calc(4vh + 2vh);
}
.Support-Person{
    position: absolute;
    width: 40%;
    height: 80%;
    top: 40%;
}

.text-container {
    position: relative;
}

.support-text {
    position: fixed;
    top: 18vh;
    left: 36vh;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Istok Web', sans-serif;
    text-align: center;
    width: 40%;
}


.contact-text {
    position: absolute;
    bottom: -15vh;
    left: -22vh;
    overflow-wrap: break-word;
    font-family: 'Istok Web', sans-serif;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}
.contact-text2 {
    position: absolute;
    bottom: -19vh;
    left: -18.3vh;
    color: white;
    font-family: 'Istok Web', sans-serif;
    overflow-wrap: break-word;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}
.contact-info-email {
    position: absolute;
    bottom: -87vh;
    left: calc(-23vh + 2vh);
    color: white;
    font-family: 'Istok Web', sans-serif;
    overflow-wrap: break-word;
    transform: translate(-50%, -50%);
    text-align: center;
    width: calc(70% - 2vh);
}
.contact-info-location{
    position: absolute;
    bottom: -90vh;
    left: -25vh;
    color: white;
    font-family: 'Istok Web', sans-serif;
    overflow-wrap: break-word;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}
.contact-form {
    position: absolute;
    bottom: 25vh;
    right: 25vh;
    font-family: 'Istok Web', sans-serif;
    width: 30%;
}

.form-group {
    margin-bottom: 2vh;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 1vh;
    border: 0.1vh solid #ccc;
    border-radius: 1vh;
    box-sizing: border-box;
}

textarea {
    height: 15vh;
}

button {
    background-color: #1d1b31;
    color: white;
    padding: 0.7em 2em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

button:hover {
    background-color: black;
}
.Help-Button {
    background-color: #1d1b31;
    color: #fff;
    padding: 0.7em 2em;
    position: absolute;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 33%;
    margin-left:126vh;
}
@media screen and (min-width: 768px) {
.body{
    overflow: auto;
}
    .text-container {

        left: 20%;
    }


}