@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

body {
    overflow: hidden;
}
.Support-Bubble{
    display: flex;
    align-items: center;
    position: fixed;
    width: 50%;
    height: 130%;
    right: 40%;
    top:-20%;
    transform: translateY(0%);
    z-index: -1;
}
.Support-Person {
    position: absolute;
    width: 40%;
    height: 60%;
    right: 47%;
    top: 40%;
    transform: translateY(-10%);
}


.text-container {
    position: relative;
}

.support-text {
    position: fixed;
    top: 18vh;
    left: 60vh;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Istok Web', sans-serif;
    text-align: center;
    width: 40%;
}

.contact-info-email{
    position: absolute;
    bottom: -93vh;
    left: 40vh;
    color: white;
    font-family: 'Istok Web', sans-serif;
    overflow-wrap: break-word;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contact-info-email {
    display: flex;
    align-items: center;
}

.Email-Icon{
    position: absolute;
    width: 3vh;
    height: auto;
    bottom: 8.8vh;
    left: calc(30vh + 2vh);
}
.contact-form {
    position: fixed;
    bottom: 25vh;
    right: 15vh;
    font-family: 'Istok Web', sans-serif;
    width: 30%;
}

.form-group {
    position: relative;
    margin-bottom: 2vh;
    bottom: 15vh;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 1vh;
    border: 0.1vh solid #ccc;
    border-radius: 1vh;
    box-sizing: border-box;
}

textarea {
    height: 15vh;
}

.submit-button {
    background-color: #12385d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    bottom: 35vh;
    position: fixed;



}
.Help-Button{
    background-color: #12385d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    right: 58.5vh;
    bottom: 28vh;
}

button:hover {
    background-color: #0d0b1b;
}

@media screen and (min-width: 768px) {
.body{
    overflow: auto;
}
    .text-container {

        left: 20%;
    }


}