.training-finish-page {
    position: relative;
  }
  
  .confetti-section {
    position: fixed;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1; 
  }
  
  .confetti-section video {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  
  .text-section {
    position: relative;
    text-align: center;
    margin-top: 10%;
    right: -4%;
  }
  
  .text-content {
    display: inline-block;
  }
  
  .text-content h2 {
    color: black;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .text-content p {
    margin-bottom: 20px;
  }
  

  