@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.background-image {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    object-fit: cover;
    filter: blur(4px);
    transition: filter 0.5s ease;
}

.intro-text {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: white;
    cursor: pointer; 
}

.skip-page {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1;
    text-align: right;
}

.next-page-button {
    background-color: #12385d;
    color: white;
    padding: 0.5em 2em;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;  
    margin-left: 45%;
    transform: translateX(-50%);
    z-index: 2;
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
}

.next-page button:hover {
    background-color: #0d0b1b;
}
