html,
body {
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
}

colgroup {
  background-color: #f2f2f2;
  background-color: #0c1536;
  background-color: #12385d;
  background-color: #12a5b5;
  background-color: #208484;
  background-color: #61ddb4;
}

.App {
  display: flex;
  height: 100vh; 
  overflow-y: auto;
}

.content {
  padding-left: 200px;
  width: calc(100% - 200px);
}

@media screen and (max-width: 768px) {
  .content {
    padding-left: 0; 
    width: 100%;
  }
}
