nav {
  background-color: #12385d;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left img {
  width: 50px; 
}

#navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar li {
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover {
  color: #61ddb4;
}

#login {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#login li {
  padding: 0 10px;
}

#login a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  transition: 0.3s ease-in-out;
}

#login a:hover {
  color: #61ddb4;
}

#register-btn {
  background-color: #61ddb4;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

#register-btn:hover {
  background-color: #3ca285;
}
