nav {
  background-color: #12385d;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adjusted to distribute space evenly */
  align-items: center; /* Center items horizontally */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  overflow-y: auto; /* Allow vertical scrolling */
}

.navbar-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-left img {
  width: 50px;
  margin-bottom: 10px;
}

.current-user {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar li {
  padding: 10px 0; /* Adjust padding */
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover {
  color: #61ddb4;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  list-style: none;
  padding: 0;
  margin: 0;
}

#login li {
  padding: 10px; /* Adjust padding */
}

#login a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  transition: 0.3s ease-in-out;
}

#login a:hover {
  color: #61ddb4;
}

#register-btn {
  background-color: #61ddb4;
  color: white;
  padding: 8px 16px; /* Adjust button padding */
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

#register-btn:hover {
  background-color: #3ca285;
}
